body
{
    text-align: center;
	height:100vh;
	font-size: 30px;
	background-color:#34495E;
}
#facebook,#dimg_25,#twitter
{
	
	width:30px; 
	height:30px;
	border-radius:100%;
}

footer
{
    
    margin: auto;
}
a
{
    color: black;
}